.header-top-selling{
 text-align: center;
 margin-top: 20%;
}
.title-top-selling{
  font-size: 30px;
}
.subtitle-top{
  font-size: 20px ;
}
.row-top-sell{
  margin-left: 30px;
}
.zoom{
  padding:30px;
  
  transition: transform .2s; /* Animation */
  
}
.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}